/**
 * @file
 * Manage CKEditor 5 components styling.
 */

@font-face {
  font-family: Marianne;
  src: url("/libraries/dsfr/dist/fonts/Marianne-Light.woff2") format("woff2"), url("/libraries/dsfr/dist/fonts/Marianne-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Marianne;
  src: url("/libraries/dsfr/dist/fonts/Marianne-Light_Italic.woff2") format("woff2"), url("/libraries/dsfr/dist/fonts/Marianne-Light_Italic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: Marianne;
  src: url("/libraries/dsfr/dist/fonts/Marianne-Regular.woff2") format("woff2"), url("/libraries/dsfr/dist/fonts/Marianne-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Marianne;
  src: url("/libraries/dsfr/dist/fonts/Marianne-Regular_Italic.woff2") format("woff2"), url("/libraries/dsfr/dist/fonts/Marianne-Regular_Italic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: Marianne;
  src: url("/libraries/dsfr/dist/fonts/Marianne-Medium.woff2") format("woff2"), url("/libraries/dsfr/dist/fonts/Marianne-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Marianne;
  src: url("/libraries/dsfr/dist/fonts/Marianne-Medium_Italic.woff2") format("woff2"), url("/libraries/dsfr/dist/fonts/Marianne-Medium_Italic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: Marianne;
  src: url("/libraries/dsfr/dist/fonts/Marianne-Bold.woff2") format("woff2"), url("/libraries/dsfr/dist/fonts/Marianne-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Marianne;
  src: url("/libraries/dsfr/dist/fonts/Marianne-Bold_Italic.woff2") format("woff2"), url("/libraries/dsfr/dist/fonts/Marianne-Bold_Italic.woff") format("woff");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: Spectral;
  src: url("/libraries/dsfr/dist/fonts/Spectral-Regular.woff2") format("woff2"), url("/libraries/dsfr/dist/fonts/Spectral-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Spectral;
  src: url("/libraries/dsfr/dist/fonts/Spectral-ExtraBold.woff2") format("woff2"), url("/libraries/dsfr/dist/fonts/Spectral-ExtraBold.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

.ck-content {
  --grey-200-850: #3a3a3a;
  --grey-1000-50-active: #ededed;
  --grey-1000-50-hover: #f6f6f6;
  --background-default-grey-active: var(--grey-1000-50-active);
  --background-default-grey-hover: var(--grey-1000-50-hover);
  --active: var(--background-default-grey-active);
  --external-link-content: "";
  --idle: transparent;
  --hover: var(--background-default-grey-hover);
  --text-decoration: none;
  --text-default-grey: var(--grey-200-850);
  --text-default-white: var(--color-white);
  --text-spacing: 0 0 1.5rem;
  --title-spacing: 0 0 1.5rem;
  --ul-type: disc;
  --ol-type: decimal;
  --ul-start: 1rem;
  --ol-start: 1.5rem;
  --xl-block: 0.5rem;
  --li-bottom: 0.25rem;
  --underline-max-width: 100%;
  --underline-hover-width: 0;
  --underline-idle-width: var(--underline-max-width);
  --underline-x: calc(var(--underline-max-width) * 0);
  --underline-thickness: 0.0625em;
  --underline-img: linear-gradient(0deg, currentcolor, currentcolor);
  --xl-base: 1em;
  --ol-content: counters(li-counter, ".") ".  ";

  color: var(--text-default-grey);
  font-family: Marianne,arial,sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  text-rendering: optimizelegibility;
}

/* Manage "Gin" theme dark mode. */
.gin--dark-mode .ck-content {
  --grey-200-850: #cecece;
  --grey-200-850-hover: #a8a8a8;
  --grey-200-850-active: #939393;
}

.ck-content a {
  text-decoration: var(--text-decoration);
  color: inherit;

  --hover-tint: var(--idle);
  --active-tint: var(--active);
}

.ck-content [href] {
  background-image: var(--underline-img),var(--underline-img);
  background-position: var(--underline-x) 100%,var(--underline-x) calc(100% - var(--underline-thickness));
  background-repeat: no-repeat,no-repeat;
  background-size: var(--underline-hover-width) calc(var(--underline-thickness) * 2),var(--underline-idle-width) var(--underline-thickness);
  transition: background-size 0s;
}

.ck-content a[href]:hover {
  text-decoration: var(--text-decoration);

  --underline-hover-width: var(--underline-max-width);

  background-color: var(--hover-tint);
}

.ck-content [target="_blank"]::after {
  flex: 0 0 auto;
  display: inline-block;
  vertical-align: calc((0.75em - var(--icon-size)) * 0.5);
  background-color: currentcolor;
  width: var(--icon-size);
  height: var(--icon-size);
  mask-size: 100% 100%;

  --icon-size: 1rem;

  mask-image: url("/libraries/dsfr/dist/icons/system/external-link-line.svg");
  content: var(--external-link-content);
  margin-left: 0.25rem;
}

.ck-content h6 {
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.5rem;
  margin: var(--title-spacing);
}

.ck-content h5 {
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.75rem;
  margin: var(--title-spacing);
}

.ck-content h4 {
  font-weight: 700;
  font-size: 1.375rem;
  line-height: 1.75rem;
  margin: var(--title-spacing);
}

.ck-content h3 {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2rem;
  margin: var(--title-spacing);
}

.ck-content h2 {
  font-weight: 700;
  font-size: 1.75rem;
  line-height: 2.25rem;
  margin: var(--title-spacing);
}

.ck-content h1 {
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.5rem;
  margin: var(--title-spacing);
}

.ck-content p {
  font-size: 1rem;
  line-height: 1.5rem;
  margin: var(--text-spacing);
}

.ck-content ul,
.ck-content ol,
.ck-content dl {
  margin: 0;
  padding: 0;
  margin-block: var(--xl-block) var(--xl-block);

  --xl-size: var(--xl-base);
}

.ck-content li,
.ck-content dd,
.ck-content dt {
  --xl-base: calc(var(--xl-size) * 0.9);

  padding-bottom: var(--li-bottom);
}

.ck-content ul {
  list-style-type: var(--ul-type);
  padding-inline-start: var(--ul-start);
}

.ck-content ul > li::marker {
  font-size: calc(var(--xl-size) * 0.9);
}

.ck-content ol {
  list-style-type: var(--ol-type);
  padding-inline-start: var(--ol-start);
  counter-reset: li-counter;
}

/* Fix "start" attribute management - START */
.ck-content ol[start] {
  counter-reset: none;
}
.ck-content ol[start="0"] {
  counter-reset: li-counter -1;
}
.ck-content ol[start="2"] {
  counter-reset: li-counter 1;
}
.ck-content ol[start="3"] {
  counter-reset: li-counter 2;
}
.ck-content ol[start="4"] {
  counter-reset: li-counter 3;
}
.ck-content ol[start="5"] {
  counter-reset: li-counter 4;
}
.ck-content ol[start="6"] {
  counter-reset: li-counter 5;
}
.ck-content ol[start="7"] {
  counter-reset: li-counter 6;
}
.ck-content ol[start="8"] {
  counter-reset: li-counter 7;
}
.ck-content ol[start="9"] {
  counter-reset: li-counter 8;
}
.ck-content ol[start="10"] {
  counter-reset: li-counter 9;
}
.ck-content ol[start="11"] {
  counter-reset: li-counter 10;
}
.ck-content ol[start="12"] {
  counter-reset: li-counter 11;
}
.ck-content ol[start="13"] {
  counter-reset: li-counter 12;
}
.ck-content ol[start="14"] {
  counter-reset: li-counter 13;
}
.ck-content ol[start="15"] {
  counter-reset: li-counter 14;
}
.ck-content ol[start="16"] {
  counter-reset: li-counter 15;
}
.ck-content ol[start="17"] {
  counter-reset: li-counter 16;
}
.ck-content ol[start="18"] {
  counter-reset: li-counter 17;
}
.ck-content ol[start="19"] {
  counter-reset: li-counter 18;
}
.ck-content ol[start="20"] {
  counter-reset: li-counter 19;
}
.ck-content ol[start="21"] {
  counter-reset: li-counter 20;
}
.ck-content ol[start="22"] {
  counter-reset: li-counter 21;
}
.ck-content ol[start="23"] {
  counter-reset: li-counter 22;
}
.ck-content ol[start="24"] {
  counter-reset: li-counter 23;
}
.ck-content ol[start="25"] {
  counter-reset: li-counter 24;
}
/* Fix "start" attribute management - END */

.ck-content ol > li {
  counter-increment: li-counter;
}

.ck-content ol > li::marker {
  content: var(--ol-content);
  font-size: var(--xl-size);
  font-weight: bold;
}

.ck-content dl,
.ck-content dd {
  margin: 0;
  padding-inline-start: var(--ul-start);
}
