{# The button needs to have a "value" attribute to work (more details in "dsfr4drupal_theme_suggestions_input_alter()"). #}
{% include '@dsfr4drupal/templates/form/input--submit.html.twig' with {
    'remove_value': false,
} %}
