{% set attributes = attributes|default(create_attribute()) %}
{% set content_tag = content_tag|default('p') %}
{% set title_tag = title_tag|default('h3') %}

{% if icon %}
  {% set attributes = attributes.addClass(icon) %}
{% endif %}

{% if color_schema %}
  {% set attributes = attributes.addClass('fr-callout--' ~ color_schema) %}
{% endif %}

<div{{ attributes.addClass('fr-callout') }}>
  {% if title is not empty %}
    <{{ title_tag }} class="fr-callout__title">
      {{ title }}
    </{{ title_tag }}>
  {% endif %}
  <{{ content_tag }} class="fr-callout__text">
    {{ content }}
  </{{ content_tag }}>
  {{ button }}
</div>
